body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(Images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#main{
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}